{% extends 'base.html.twig' %}

{% block title %}admin page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block header %}
    <header class="header">
    <div class="logo">
        <p>admin page</p>
    </div>
    <div class="nav-bar">
        <ul class="nav-menu">
            <li><a class="link" href="#">user</a></li>
        </ul>
    </div>
    </header>
{% endblock %}

{% block body %}

{% endblock %}
